In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./apy.csv')

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [11]:
df.groupby(['Season']).sum()

             Crop_Year          Area    Production
Season
Autumn         9931847  4.807113e+07  6.441377e+07
Kharif       192433963  1.404845e+09  4.029970e+09
Rabi         134375352  9.479874e+08  2.051688e+09
Summer        29783876  7.598406e+07  1.706579e+08
Whole Year   114886975  2.573005e+08  1.344248e+11
Winter        12158683  2.195979e+08  4.345498e+08

In [12]:
4.029970e+09, 1.706579e+08, 6.441377e+07

(4029970000.0, 170657900.0, 64413770.0)

In [18]:
df_kharif = df[df['Season'].str.contains('Kharif')]

In [19]:
df_kharif.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
10,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Arecanut,1254.0,2061.0
11,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Other Kharif pulses,2.0,1.0

In [20]:
df_kharif['Crop'].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Arhar/Tur', 'Bajra',
       'Castor seed', 'Cotton(lint)', 'Dry chillies', 'Groundnut',
       'Horse-gram', 'Jowar', 'Korra', 'Maize', 'Moong(Green Gram)',
       'Ragi', 'Sugarcane', 'Sunflower', 'Tobacco', 'Masoor', 'Sesamum',
       'Urad', 'Gram', 'Onion', 'other misc. pulses', 'Samai',
       'Small millets', 'Soyabean', 'Mesta', 'Cowpea(Lobia)',
       'other oilseeds', 'Brinjal', 'Coriander', 'Grapes', 'Lemon',
       'Linseed', 'Mango', 'Papaya', 'Pome Granet', 'Sapota', 'Tomato',
       'Turmeric', 'Cabbage', 'Cashewnut', 'Potato', 'Sweet potato',
       'Niger seed', 'Tapioca', 'Dry ginger', 'Safflower', 'Varagu',
       'Jute', 'Orange', 'Blackgram', 'Sannhamp', 'Guar seed', 'Coconut ',
       'Banana', 'Moth', 'Other Cereals & Millets', 'Pulses total',
       'Peas & beans (Pulses)', 'Ginger', 'Garlic', 'Cond-spcs other',
       'Wheat', 'Barley', 'Rapeseed &Mustard', 'Paddy', 'Black pepper',
       'Total foodgrain', 'Kapas', 'Cardamom', 'Tea', 'Colocosia',
       'Oilseeds total', 'Bean', 'Jobster', 'Perilla', 'Rajmash Kholar',
       'Ricebean (nagadal)', 'Jute & mesta', 'Khesari'], dtype=object)

In [22]:
df['Production'].argmax()

178273

In [23]:
df.iloc[178273]

State_Name        Tamil Nadu
District_Name     COIMBATORE
Crop_Year               2011
Season           Whole Year
Crop                Coconut
Area                   82704
Production        1.2508e+09
Name: 178273, dtype: object

In [24]:
df_tamilnadu = df[df['State_Name'].str.contains('Tamil Nadu')]

In [28]:
df_tamilnadu.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
177668,Tamil Nadu,ARIYALUR,2008,Kharif,Rice,24574.0,NaN
177669,Tamil Nadu,ARIYALUR,2008,Whole Year,Arhar/Tur,209.0,NaN
177670,Tamil Nadu,ARIYALUR,2008,Whole Year,Bajra,565.0,NaN
177671,Tamil Nadu,ARIYALUR,2008,Whole Year,Banana,190.0,NaN
177672,Tamil Nadu,ARIYALUR,2008,Whole Year,Cashewnut,31113.0,NaN

In [29]:
df_tamilnadu.groupby(['Crop_Year']).sum()

                 Area    Production
Crop_Year
1997        9869675.0  3.369738e+08
1998       12253211.0  6.800716e+07
1999        6454857.0  5.675108e+07
2000        6298203.0  5.208971e+07
2001        4324672.0  4.159475e+07
2002        4673151.0  3.920144e+07
2003        4834735.0  3.490466e+07
2004        5160726.0  4.456710e+07
2005        5322577.0  5.246693e+07
2006        5085779.0  6.958519e+07
2007        5090960.0  5.803191e+07
2008        5071518.0  1.051235e+08
2009        4765920.0  5.363940e+07
2010        3615255.0  4.262919e+07
2011        4933432.0  6.260873e+09
2012        3122581.0  4.034128e+07
2013        5020615.0  4.719663e+09

In [35]:
6.260873e+09 > 4.719663e+09

True

In [38]:
df_bystate = df.groupby(['State_Name']).sum()

In [41]:
df_bystate['Production']

State_Name
Andaman and Nicobar Islands    7.182232e+08
Andhra Pradesh                 1.732459e+10
Arunachal Pradesh              6.823913e+06
Assam                          2.111752e+09
Bihar                          3.664836e+08
Chandigarh                     6.395650e+04
Chhattisgarh                   1.009519e+08
Dadra and Nagar Haveli         1.847871e+06
Goa                            5.057558e+08
Gujarat                        5.242913e+08
Haryana                        3.812739e+08
Himachal Pradesh               1.780517e+07
Jammu and Kashmir              1.329102e+07
Jharkhand                      1.077774e+07
Karnataka                      8.634298e+08
Kerala                         9.788005e+10
Madhya Pradesh                 4.488407e+08
Maharashtra                    1.263641e+09
Manipur                        5.230917e+06
Meghalaya                      1.211250e+07
Mizoram                        1.661540e+06
Nagaland                       1.276595e+07
Odisha                         1.609041e+08
Puducherry                     3.847245e+08
Punjab                         5.863850e+08
Rajasthan                      2.813203e+08
Sikkim                         2.435735e+06
Tamil Nadu                     1.207644e+10
Telangana                      3.351479e+08
Tripura                        1.252292e+07
Uttar Pradesh                  3.234493e+09
Uttarakhand                    1.321774e+08
West Bengal                    1.397904e+09
Name: Production, dtype: float64

In [42]:
df_bystate['Production'].argmax()

15

In [43]:
df_bystate.iloc[15]

Crop_Year     8.546913e+06
Area          3.190807e+07
Production    9.788005e+10
Name: Kerala, dtype: float64

In [44]:
area_col = df['Area']
production_col = df['Production']

In [45]:
area_col.corr(production_col)

0.04058747919933999

In [46]:
df['Production'].mean()

582503.4422509839

In [47]:
df['Production'].std()

17065813.172410425

In [74]:
df_filled = df.fillna(-1111111)

In [75]:
df_2015 = df[df['Crop_Year'] == 2015]

In [77]:
df_2015[df['Production'] != -1111111]

<ipython-input-77-bd7b575ddcc8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_2015[df['Production'] != -1111111]

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
147292,Odisha,ANUGUL,2015,Autumn,Groundnut,1259.0,1440.3
147293,Odisha,ANUGUL,2015,Autumn,Maize,472.0,548.1
147294,Odisha,ANUGUL,2015,Autumn,Moong(Green Gram),732.0,189.6
147295,Odisha,ANUGUL,2015,Autumn,Ragi,1.0,0.7
147296,Odisha,ANUGUL,2015,Autumn,Rice,12000.0,12000.0
...,...,...,...,...,...,...,...
177663,Sikkim,WEST DISTRICT,2015,Kharif,Soyabean,546.0,520.0
177664,Sikkim,WEST DISTRICT,2015,Kharif,Urad,914.0,811.0
177665,Sikkim,WEST DISTRICT,2015,Rabi,Barley,12.0,11.0
177666,Sikkim,WEST DISTRICT,2015,Rabi,Rapeseed &Mustard,625.0,540.0
177667,Sikkim,WEST DISTRICT,2015,Rabi,Wheat,20.0,21.0

In [78]:
df_2015['State_Name'].unique()

array(['Odisha', 'Sikkim'], dtype=object)

In [49]:
df_1997 = df[df['Crop_Year'] == 1997]

In [50]:
df_1997.head(10)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
203,Andhra Pradesh,ANANTAPUR,1997,Kharif,Arhar/Tur,21400.0,2600.0
204,Andhra Pradesh,ANANTAPUR,1997,Kharif,Bajra,1400.0,500.0
205,Andhra Pradesh,ANANTAPUR,1997,Kharif,Castor seed,1000.0,100.0
206,Andhra Pradesh,ANANTAPUR,1997,Kharif,Cotton(lint),7300.0,9400.0
207,Andhra Pradesh,ANANTAPUR,1997,Kharif,Dry chillies,3700.0,7100.0
208,Andhra Pradesh,ANANTAPUR,1997,Kharif,Groundnut,650800.0,228400.0
209,Andhra Pradesh,ANANTAPUR,1997,Kharif,Horse-gram,3300.0,1000.0
210,Andhra Pradesh,ANANTAPUR,1997,Kharif,Jowar,10100.0,10200.0
211,Andhra Pradesh,ANANTAPUR,1997,Kharif,Korra,2200.0,700.0
212,Andhra Pradesh,ANANTAPUR,1997,Kharif,Maize,2800.0,4900.0

In [54]:
df_1997_grouped = df_1997.groupby(['Crop']).sum()

In [56]:
df_1997_grouped.sort_values('Production', ascending=False)

                       Crop_Year        Area   Production
Crop
Sugarcane                 659010   3482848.0  501229055.0
Rice                     1212179  30706467.0   65848504.0
Wheat                     728905  25640826.0   63831633.0
Oilseeds total            163754  51751377.0   39245384.0
Total foodgrain           215676  18974254.0   38843779.0
Pulses total              201697  20720328.0   14410879.0
Potato                    417373    941622.0   14095119.0
Paddy                     351472   7885677.0   12551503.0
Cotton(lint)              325511   5230253.0   10443524.0
Jute                      147778    979700.0    9937985.0
Maize                    1294056   5644113.0    9797054.0
Banana                    191712    216302.0    8577683.0
Jowar                     706938  10699683.0    7675581.0
Bajra                     529205   9527424.0    7622765.0
Tapioca                   149775    243461.0    6770940.0
Groundnut                 778830   6480853.0    6749962.0
Coconut                   113829   1064229.0    6344142.0
Soyabean                  213679   4949711.0    5475933.0
Rapeseed &Mustard         555166   5360928.0    3795722.0
Gram                      543184   4585523.0    3540892.0
Ragi                      383424   1445741.0    1838314.0
Arhar/Tur                 814776   3325278.0    1693632.0
Barley                    397403    772715.0    1586845.0
Onion                     371442    134777.0    1551843.0
Urad                      688965   2005681.0     879739.0
Mesta                     127808    125033.0     830152.0
Castor seed               157763    582573.0     784499.0
Dry chillies              409385    536530.0     618764.0
Moong(Green Gram)         567148   1531709.0     574384.0
Peas & beans (Pulses)     149775    425240.0     494650.0
Sesamum                   734896   1277400.0     463072.0
Tobacco                   159760    348858.0     422417.0
Masoor                    189715    544987.0     391681.0
Arecanut                  149775    260686.0     308584.0
Horse-gram                265601    657910.0     285294.0
Small millets             399400    701769.0     248320.0
Sunflower                 349475    451275.0     248182.0
Turmeric                  223664     49377.0     175614.0
Sweet potato              163754     23938.0     174563.0
Linseed                   339490    428252.0     159224.0
Other  Rabi pulses        233649    247790.0     151786.0
Garlic                    117823     28730.0     146910.0
Cashewnut                  71892    178834.0      93512.0
Other Kharif pulses       167748     94654.0      72625.0
Dry ginger                 89865     12119.0      69027.0
Black pepper               55916    181126.0      57204.0
Khesari                    33949     25261.0      28460.0
Moth                       71892     48716.0      24216.0
Korra                      21967     30000.0      19200.0
Coriander                 131802     57930.0      13169.0
Samai                      13979     29500.0      12700.0
Sannhamp                   73889      4410.0      10448.0
Niger seed                 51922     16810.0       8841.0
Safflower                  45931     11223.0       3266.0
Cardamom                   31952     29168.0       1701.0
Varagu                      3994      2500.0       1600.0
Kapas                       9985       967.0        429.0

In [57]:
df_crop_year = df['Crop_Year']
df_area = df['Area']
df_production = df['Production']

In [58]:
df_crop_year.head()

0    2000
1    2000
2    2000
3    2000
4    2000
Name: Crop_Year, dtype: int64

In [59]:
df_area.head()

0    1254.0
1       2.0
2     102.0
3     176.0
4     720.0
Name: Area, dtype: float64

In [60]:
df_production.head()

0    2000.0
1       1.0
2     321.0
3     641.0
4     165.0
Name: Production, dtype: float64

In [61]:
df_crop_year.corr(df_area) #Negative value, but maginitude of value is low, so no correlation

-0.026021527208407693

In [62]:
df_crop_year.corr(df_production)  #Positive value, but maginitude of value is low, so no correlation

0.006989301430174885

In [65]:
df.groupby(['Crop_Year']).sum().sort_values('Production', ascending=False)

                   Area    Production
Crop_Year
2011       1.536292e+08  1.430890e+10
2013       1.415249e+08  1.290359e+10
2006       1.706991e+08  8.681913e+09
2014       1.157575e+08  8.664541e+09
2004       1.678784e+08  8.189462e+09
2012       1.524698e+08  8.171055e+09
2005       1.631364e+08  8.043757e+09
2003       1.720881e+08  7.917974e+09
2008       1.712321e+08  7.717018e+09
2002       1.577690e+08  7.696955e+09
2009       1.656947e+08  7.660494e+09
2001       1.652956e+08  7.465541e+09
2000       1.652975e+08  7.449709e+09
2007       1.527242e+08  6.879442e+09
1999       1.586661e+08  6.434666e+09
2010       1.766192e+08  6.307609e+09
1998       1.669881e+08  5.825321e+09
1997       2.317150e+08  8.512329e+08
2015       4.601298e+06  6.935065e+06

In [66]:
df_tn = df[df['State_Name'].str.contains('Tamil Nadu')]

In [70]:
df_tn.head(5)

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
177668,Tamil Nadu,ARIYALUR,2008,Kharif,Rice,24574.0,NaN
177669,Tamil Nadu,ARIYALUR,2008,Whole Year,Arhar/Tur,209.0,NaN
177670,Tamil Nadu,ARIYALUR,2008,Whole Year,Bajra,565.0,NaN
177671,Tamil Nadu,ARIYALUR,2008,Whole Year,Banana,190.0,NaN
177672,Tamil Nadu,ARIYALUR,2008,Whole Year,Cashewnut,31113.0,NaN

In [71]:
df_tn.groupby(['Crop']).sum().sort_values('Production', ascending=False)

           Crop_Year        Area    Production
Crop
Coconut       592047   3821909.0  1.093774e+10
Sugarcane     966528   5284188.0  8.474968e+08
Rice          998591  32386903.0  1.001227e+08
Banana        875800   1379255.0  5.871609e+07
Tapioca       775813   1501104.0  5.564865e+07
...              ...         ...           ...
Papaya         64081       696.0  0.000000e+00
Peach           8010        42.0  0.000000e+00
Pear           12015      2676.0  0.000000e+00
Plums          12016       809.0  0.000000e+00
Yam            72090      1775.0  0.000000e+00

[87 rows x 3 columns]

In [72]:
df_s = df_tn[df_tn['Crop'].str.contains('Coconut')]

In [ ]:
df_s

In [79]:
len(df)

246091